@import url('https://fonts.googleapis.com/css?family=Fira+Sans|Roboto:400,500,700&display=swap');

$banana-yellow: #fae745;
$banana-yellow-hover: #ebd941;
$sea: #3ca293;
$light-gray: #eeeeee;
$text-color: #0d1524;