@import url("https://fonts.googleapis.com/css?family=Fira+Sans|Roboto:400,500,700&display=swap");
* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  color: #0d1524;
}

h1 {
  font-size: 36px;
  line-height: 1.28;
  letter-spacing: 1px;
  text-transform: uppercase;
}

h2 {
  font-size: 24px;
  line-height: 1.5;
  text-transform: uppercase;
}

h3 {
  font-size: 18px;
  line-height: 1.33;
  color: black;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: black;
  margin: 0;
  padding: 0;
  height: 4500px;
}

.btn {
  background-color: #fae745;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #0d1524;
  border: none;
}
.btn:hover {
  background-color: #ebd941;
}

.header {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
}
.header .container {
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
  padding: 20px 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .header-logo {
  max-width: 127px;
  height: 60px;
}
.header .header-logo .header-img {
  display: block;
  width: 100%;
}
.header .header-button {
  width: 207px;
  height: 50px;
  border-radius: 25px;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.main {
  position: fixed;
  top: 0;
  width: 100%;
}

.virus {
  display: block;
  position: absolute;
  z-index: -2;
}

.scene-1 {
  position: relative;
  background: url("../img/bg-img.png") no-repeat left;
  background-size: cover;
  height: 100%;
  overflow: hidden;
}
.scene-1 .virus1 {
  display: block;
  position: absolute;
  z-index: 0;
}
.scene-1 .scene-1-product-img-block {
  position: absolute;
  right: 117px;
  bottom: 10px;
}
.scene-1 .scene-1-product-img-block img {
  width: 435px;
  height: 401px;
}
.scene-1 .scene-1-shifting-panel {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  top: 0;
  left: 95vw;
}
.scene-1 .scene-1-shifting-panel .scene-1-shifting-panel-scroll {
  position: absolute;
  left: 0;
  bottom: 9px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.scene-1 .scene-1-shifting-panel .scene-1-shifting-panel-scroll div {
  font-size: 10px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transform: rotate(-90deg);
  font-weight: 500;
  margin-bottom: 23px;
}
.scene-1 .scene-1-shifting-panel .scene-1-shifting-panel-scroll img {
  display: block;
  margin: 5px 12px;
}
.scene-1 .scene-1-shifting-panel .scene-1-shifting-panel-shift {
  position: relative;
  top: 50%;
  right: 25px;
  height: 50px;
}
.scene-1 .scene-1-shifting-panel .scene-1-shifting-panel-shift .shift-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  padding-top: 8px;
}
.scene-1 .scene-1-shifting-panel .scene-1-shifting-panel-shift .shift-button:before {
  content: "";
  position: absolute;
  right: 50px;
  top: 21px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 8px 0 8px;
  border-color: #fae745 transparent transparent transparent;
  transform: rotate(90deg);
}
.scene-1 .scene-1-shifting-panel .scene-1-shifting-panel-shift .shift-button:after {
  content: "";
  position: absolute;
  left: 50px;
  top: 21px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 7px 8px 0 8px;
  border-color: #fae745 transparent transparent transparent;
  transform: rotate(-90deg);
}
.scene-1 .scene-1-shifting-panel .scene-1-shifting-panel-content {
  align-self: center;
  padding-left: 70px;
  margin: auto 0;
  position: relative;
  z-index: 1;
}
.scene-1 .scene-1-shifting-panel .scene-1-shifting-panel-content h2 {
  margin-top: 30px;
  margin-bottom: 40px;
}
.scene-1 .scene-1-shifting-panel .scene-1-shifting-panel-download {
  display: flex;
  align-items: center;
  font-size: 20px;
  text-decoration: none;
  color: black;
}
.scene-1 .scene-1-shifting-panel .scene-1-shifting-panel-button {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  margin-right: 18px;
  padding-top: 5px;
}

.scene-2,
.scene-3,
.scene-4,
.scene-5,
.scene-6,
.scene-7 {
  max-width: 970px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scene-2 .scene-img,
.scene-3 .scene-img,
.scene-4 .scene-img,
.scene-5 .scene-img,
.scene-6 .scene-img,
.scene-7 .scene-img {
  width: 40%;
  display: flex;
  justify-content: flex-end;
  padding-right: 10px;
}
.scene-2 .scene-img .scene-img-block,
.scene-3 .scene-img .scene-img-block,
.scene-4 .scene-img .scene-img-block,
.scene-5 .scene-img .scene-img-block,
.scene-6 .scene-img .scene-img-block,
.scene-7 .scene-img .scene-img-block {
  position: relative;
}
.scene-2 .scene-img .scene-img-block .changeable,
.scene-3 .scene-img .scene-img-block .changeable,
.scene-4 .scene-img .scene-img-block .changeable,
.scene-5 .scene-img .scene-img-block .changeable,
.scene-6 .scene-img .scene-img-block .changeable,
.scene-7 .scene-img .scene-img-block .changeable {
  display: block;
  max-width: 270px;
  width: 100%;
  position: relative;
  top: 36px;
}
.scene-2 .scene-img .scene-img-block .man,
.scene-3 .scene-img .scene-img-block .man,
.scene-4 .scene-img .scene-img-block .man,
.scene-5 .scene-img .scene-img-block .man,
.scene-6 .scene-img .scene-img-block .man,
.scene-7 .scene-img .scene-img-block .man {
  display: block;
  position: absolute;
  max-width: 183px;
  width: 100%;
  top: -10px;
  left: -100px;
}
.scene-2 .scene-img .scene-img-block .girl,
.scene-3 .scene-img .scene-img-block .girl,
.scene-4 .scene-img .scene-img-block .girl,
.scene-5 .scene-img .scene-img-block .girl,
.scene-6 .scene-img .scene-img-block .girl,
.scene-7 .scene-img .scene-img-block .girl {
  display: block;
  position: absolute;
  max-width: 130px;
  width: 100%;
  left: -60px;
  bottom: -25px;
}
.scene-2 .scene-img .scene-img-block .ball,
.scene-3 .scene-img .scene-img-block .ball,
.scene-4 .scene-img .scene-img-block .ball,
.scene-5 .scene-img .scene-img-block .ball,
.scene-6 .scene-img .scene-img-block .ball,
.scene-7 .scene-img .scene-img-block .ball {
  display: block;
  position: absolute;
  top: 0;
  left: -38px;
  width: 450px;
}
.scene-2 .scene-text,
.scene-3 .scene-text,
.scene-4 .scene-text,
.scene-5 .scene-text,
.scene-6 .scene-text,
.scene-7 .scene-text {
  width: 60%;
}
.scene-2 .scene-text .scene-text-list,
.scene-3 .scene-text .scene-text-list,
.scene-4 .scene-text .scene-text-list,
.scene-5 .scene-text .scene-text-list,
.scene-6 .scene-text .scene-text-list,
.scene-7 .scene-text .scene-text-list {
  list-style: none;
  padding: 0;
}
.scene-2 .scene-text .scene-text-list li,
.scene-3 .scene-text .scene-text-list li,
.scene-4 .scene-text .scene-text-list li,
.scene-5 .scene-text .scene-text-list li,
.scene-6 .scene-text .scene-text-list li,
.scene-7 .scene-text .scene-text-list li {
  margin-bottom: 11px;
  padding-left: 30px;
  background: url("../img/list-style.png") no-repeat 0 6px;
}

.scene-3 .scene-img,
.scene-4 .scene-img {
  width: 50%;
}
.scene-3 .scene-img .scene-img-block,
.scene-4 .scene-img .scene-img-block {
  margin-right: 88px;
}
.scene-3 .scene-text,
.scene-4 .scene-text {
  width: 50%;
}

.scene-4 .scene-img-block img:nth-child(-n+4) {
  position: absolute;
  display: block;
  max-width: 100px !important;
}
.scene-4 .scene-img-block img:nth-child(1) {
  top: 0;
  left: -30px;
}
.scene-4 .scene-img-block img:nth-child(2) {
  top: 80px;
  left: -100px;
}
.scene-4 .scene-img-block img:nth-child(3) {
  bottom: 5px;
  left: -100px;
}
.scene-4 .scene-img-block img:nth-child(4) {
  bottom: -70px;
  left: -30px;
}
.scene-4 .scene-img-block img:nth-child(5) {
  display: block;
  max-width: 270px !important;
  width: 100%;
  position: relative;
  top: 36px;
}
.scene-4 .scene-text {
  position: relative;
}
.scene-4 .scene-text h2 {
  position: relative;
  right: 78px;
  margin-bottom: 58px;
}
.scene-4 .scene-text .arrow {
  position: absolute;
  left: -60px;
  display: block;
  height: 56px;
  padding: 5px 10px;
  cursor: pointer;
}
.scene-4 .scene-text .arrow.up {
  top: 50%;
}
.scene-4 .scene-text .arrow.down {
  bottom: 0;
}
.scene-4 .scene-text .slider {
  height: 144px;
  overflow: hidden;
  /*.slider-text{
    margin-bottom: 20px;
  }*/
}
.scene-4 .scene-text .slider .slider-item {
  height: 100%;
}
.scene-4 .scene-text .slider h3 {
  margin: 0;
}

.scene-5 {
  justify-content: space-between;
}
.scene-5 .scene-img,
.scene-5 .scene-text {
  width: 48%;
}
.scene-5 .scene-img {
  flex-direction: column;
}
.scene-5 h2 {
  margin-bottom: 30px;
  margin-right: auto;
  margin-top: 80px;
}
.scene-5 h3 {
  margin: 0;
}
.scene-5 .scene-5-block-text {
  height: 125px;
}
.scene-5 .scene-img-block {
  display: flex;
  align-items: center;
  margin-top: 15px;
  margin-right: 0;
}
.scene-5 .scene-img-block img {
  display: block;
  max-width: 130px;
  margin-right: 20px;
}
.scene-5 .scene-img-block div {
  max-width: 240px;
}
.scene-5 .scene-text {
  align-self: center;
  margin-top: 15%;
}

.scene-6 .scene-img {
  width: 50%;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
.scene-6 .scene-img h2 {
  margin: 0 0 24px;
}
.scene-6 .scene-img .scene-img-block {
  position: absolute;
  z-index: -1;
  height: 100%;
}

.scene-7 {
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: end;
}
.scene-7 .scene-img,
.scene-7 .scene-text {
  width: 48%;
}
.scene-7 .scene-img {
  justify-content: flex-start;
}
.scene-7 .scene-img-block {
  position: relative;
  max-width: 373px;
}
.scene-7 .scene-text h2 {
  margin-bottom: 48px;
}
.scene-7 .scene-7-button {
  width: 209px;
  height: 50px;
  border-radius: 25px;
  box-shadow: 0 2px 11px 0 rgba(0, 0, 0, 0.1);
}
.scene-7 .scene-advertisement {
  font-size: 14px;
  line-height: 1.29;
  color: #6f6f6f;
  width: 100%;
  margin: 16px 0 10px;
}

.footer {
  height: 150px;
  position: fixed;
  bottom: 0;
  width: 100%;
}
.footer .footer-promo-block {
  position: absolute;
  top: -40px;
  left: 20px;
  width: 203px;
  padding: 11px 11px 14px 17px;
  border-radius: 18px 18px 0 0;
  box-shadow: 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
  background-color: #3ca293;
  font-family: "FiraSans", sans-serif;
  color: white;
  transition: top 1.5s;
}
.footer .footer-promo-block .footer-promo-block-title {
  text-align: center;
}
.footer .footer-promo-block .footer-promo-block-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 8px 0 5px;
  font-size: 12px;
}
.footer .footer-promo-block .footer-promo-block-content img {
  display: block;
  height: 80px;
  width: 66px;
}
.footer .footer-promo-block .footer-promo-block-button {
  display: block;
  font-size: 12px;
  width: 138px;
  height: 32px;
  border-radius: 16px;
  margin: 0 auto;
}
.footer .footer-promo-block:hover {
  top: -170px;
}
.footer .footer-2plus-block {
  position: absolute;
  top: -60px;
  right: 240px;
  display: flex;
  align-items: center;
}
.footer .footer-2plus-block img {
  display: block;
  margin-right: 10px;
  height: 46px;
}
.footer .footer-2plus-block .footer-2plus-block-text {
  font-size: 14px;
  line-height: 1.36;
  color: white;
}
.footer .footer-img-block {
  position: relative;
  background-color: #eeeeee;
  box-shadow: inset 0 15px 20px 0 rgba(0, 0, 0, 0.25);
  padding-bottom: 4px;
  padding-top: 10px;
}
.footer .footer-img-block .footer-img {
  display: block;
  margin: 0 auto;
}

/*# sourceMappingURL=style.css.map */
